@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --cor-fundo: #E9D7B4;
  --cor-texto: #ffffff;
  --cor-secundaria: #8D5740;
}

body {
  background-color: var(--cor-fundo);
  font-family: 'MuseoModerno', sans-serif;
  color: var(--cor-texto);
  line-height: 1.6;
  font-size: large;
}

.main-header-container {
    width: 100%;
    height: 160px;
    background-color: var(--cor-secundaria);
    background-image: url(imagens/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    border-radius: 10px 10px 0 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-header-container h1 {
    color: var(--cor-texto);
    margin: 0;
    padding: 0 20px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
  }

.rodape {
  background-color: var(--cor-secundaria);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--cor-texto);
  padding: 10px 20px;
}

.rodape a {
  color: var(--cor-texto);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    width: 100%;
  }
}
