@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');
body {
  font-family: "MuseoModerno", sans-serif;
  background-color: #f6e5b8;
  margin: 0;
}

:root {
  --cor-fundo: #E9D7B4;
  --cor-texto: #ffffff;
  --cor-primaria: #270216;
  --cor-secundaria: #8D5740;
  --cor-borda: #e9f2ff;
  --cor-botoes: #E9D7B4;
}

.main-header-container {
  background-image: url(imagens/header.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0;
  margin: 30px;
}

.main-header-container h1 {
  color: var(--cor-texto);
  font-size: 2rem;
  font-weight: 700;
}

/* ==== MAIN ==== */
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  background-color: var(--cor-fundo);
  border-radius: 10px;
  padding: 40px;
  margin: 0 20px;
  position: relative;
}

/* Linha divisória entre as duas colunas */
main::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  width: 2px;
  background-color: cor var(--cor-secundaria);
  transform: translateX(-50%);
}

/* ==== SEÇÕES ==== */
section {
  width: 45%;
}

h3 {
  font-size: 1.4rem;
  color: var(--cor-secundaria);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-botoes);
}


.rodape{
  background-color: var(--cor-secundaria);
  position: absolute;
  bottom: 0%;
  width: 100%;
  color:#ffffff
}

.rodape a {
  color: #fff;
}