@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-fundo: #E9D7B4;
  --cor-texto: #ffffff;
  --cor-primaria: #270216;
  --cor-secundaria: #8D5740;
  --cor-borda: #e9f2ff;
  --cor-botoes: #E9D7B4;
}

body {
  background-color: var(--cor-fundo);
  font-family: 'MuseoModerno', sans-serif;
  color: var(--cor-texto);
  line-height: 1.6;
}

header {
  background-image: url('imagens/header.png'); /* caminho da imagem */
  background-size: cover;       /* cobre todo o espaço */
  background-position: center;  /* centraliza a imagem */
  height: 250px;                /* altura do header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  background: rgba(0, 0, 0, 0.4); /* fundo semi-transparente por cima da imagem */
  padding: 10px 20px;
  border-radius: 8px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
}

header nav a:hover {
  text-decoration: underline;
}

.header .search-bar input {
  border: 1px solid #ccc;
  border-radius: 20px; 
  padding: 8px 15px;
  width: 300px;
  outline: none; 
}

.header .login a {
  text-decoration: none;
  color: #ffffff;
  background-color: var(--cor-botoes); 
  padding: 8px 15px;
  border-radius: 20px;
}

.navigation {
  background-color: var(--cor-secundaria); 
  padding: 10px 20px;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none; 
  margin: 0;
  padding: 0;
}

.navigation li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  display: block; 
}

.rodape{
  background-color: var(--cor-secundaria);
  position: absolute;
  bottom: 0%;
  width: 100%;
  color:#ffffff
}
